body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
    margin-top: 12%;
}
.container{
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: purple;
    width: 40%;
    height: 150px;
}
button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(194, 181, 224);
    border: none;
}
a{
    text-decoration: none;
}